<html>
  <head>
    
  </head>
  <body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <canvas width="500" height="500" style="border:solid 1px #000;" id="canvas"></canvas>
    <script>

    var socket = io();

    function startGame() {
      $(document).one('click', 'canvas', function() {
        socket.emit('start');
      });
    }

    $(document).ready(function(){    

      startGame();

      var canvas = $("#canvas")[0];
      var context = canvas.getContext("2d");
      var width = $("#canvas").width();
      var height = $("#canvas").height();
      var score_text;

      socket.on('render', function(pacman, sprite, direction) {     
        render(pacman, sprite, direction);
      });

      socket.on('game:over', function() {      
        startGame();
      });
      
      function render(pacman, sprite, score)
      { 
        scoreText = "Score: " + score;     
        context.fillStyle = "white";
        context.fillRect(0, 0, width, height);
        context.beginPath();
        paintPacman(pacman);
        paintSprite(sprite.x, sprite.y, sprite.size);
        paintScore(scoreText);      
      }

  
      function paintPacman(pacman)
      {
        
        if (pacman.direction === 'right') {
          context.arc(pacman.x, pacman.y, 20, 
            (Math.PI / 180) * pacman.mouthOpenValue, 
            (Math.PI / 180) * (360 - pacman.mouthOpenValue));
        }
        else if (pacman.direction === 'left'){
          context.arc(pacman.x, pacman.y, 20,
            (Math.PI / 180) * (179 - pacman.mouthOpenValue), //to stop flicker dont draw 180 to 180
            (Math.PI / 180) * (180 + pacman.mouthOpenValue), true); 
        }
        else if (pacman.direction === 'up'){
          context.arc(pacman.x, pacman.y, 20,
            (Math.PI / 180) * (269 - pacman.mouthOpenValue),
            (Math.PI / 180) * (270 + pacman.mouthOpenValue), true); 
        }
        else {
          context.arc(pacman.x, pacman.y, 20,
            (Math.PI / 180) * (89 - pacman.mouthOpenValue),
            (Math.PI / 180) * (90 + pacman.mouthOpenValue), true); 
        }

        context.lineTo(pacman.x, pacman.y);
        context.fillStyle = '#000';
        context.fill();
      }

      function paintSprite(x, y, size) {
        context.fillStyle = "blue";
        context.fillRect(x*size, y*size, size, size);
        context.strokeStyle = "white";
        context.strokeRect(x*size, y*size, size, size);
      }

      function paintScore(scoreText) {
        context.font="20px Georgia";
        context.fillText(scoreText, 5, height - 5);
      }
      
      //keyboard controls
      $(document).keydown(function(event){
        var key = event.which;
        socket.emit('keypress', key);
      });

    });

  
  
    </script>
  </body>
</html>