<!DOCTYPE html>
<html>
  <head>
    <title>Pacman</title>
    <meta charset="utf8">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
   <!--  <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="/js/canvas.js"></script>
    <script>

    var socket = io();

    function startGame() {
      $(document).one('click', 'canvas', function() {
        socket.emit('start');
      });
    }

    $(document).ready(function(){

      startGame();

      var canvas = $("#canvas")[0];
      var context = canvas.getContext("2d");
      var width = $("#canvas").width();
      var height = $("#canvas").height();
      var score_text;

      socket.on('render', function(pacman, sprite, direction) {
        render(pacman, sprite, direction);
      });

      socket.on('game:over', function() {
        startGame();
      });

      function render(pacman, sprite, score)
      {
        scoreText = "Score: " + score;
        context.fillStyle = "black";
        context.fillRect(0, 0, width, height);
        context.beginPath();
        drawGrid();
        paintPacman(pacman);
        paintSprite(sprite.x, sprite.y, sprite.size);
        paintScore(scoreText);
      }


      function paintPacman(pacman)
      {

        if (pacman.direction === 'right') {
          context.arc(pacman.x, pacman.y, 15,
            (Math.PI / 180) * pacman.mouthOpenValue,
            (Math.PI / 180) * (360 - pacman.mouthOpenValue));
        }
        else if (pacman.direction === 'left'){
          context.arc(pacman.x, pacman.y, 15,
            (Math.PI / 180) * (179 - pacman.mouthOpenValue), //to stop flicker dont draw 180 to 180
            (Math.PI / 180) * (180 + pacman.mouthOpenValue), true);
        }
        else if (pacman.direction === 'up'){
          context.arc(pacman.x, pacman.y, 15,
            (Math.PI / 180) * (269 - pacman.mouthOpenValue),
            (Math.PI / 180) * (270 + pacman.mouthOpenValue), true);
        }
        else {
          context.arc(pacman.x, pacman.y, 15,
            (Math.PI / 180) * (89 - pacman.mouthOpenValue),
            (Math.PI / 180) * (90 + pacman.mouthOpenValue), true);
        }

        context.lineTo(pacman.x, pacman.y);
        context.fillStyle = 'yellow';
        context.fill();
      }

      function paintSprite(x, y, size) {
        context.fillStyle = "white";
        context.fillRect(x*size, y*size, size, size);
        context.strokeStyle = "white";
        context.strokeRect(x*size, y*size, size, size);
      }

      function paintScore(scoreText) {
        context.font="20px Georgia";
        context.fillText(scoreText, 5, height - 5);
      }

      //keyboard controls
      $(document).keydown(function(event){
        var key = event.which;
        socket.emit('keypress', key);
      });

    });


    </script>
  </head>
  <body>
    <header>
      <article id="header-container">
        <div id="logo-container">
          <article id="logo">
            <img src="/images/hacman_logo_cropped.png"/>
          </article>
        </div>
        <article id="ghost-banner-left">
          <img src="/images/left_ghosts_banner.png"/>
        </article>
        <article id="ghost-banner-right">
          <img src="/images/right_ghosts_banner.png"/>
        </article>
      </article>
    </header>
    <main>
    <section id="board-container">
      <article class="board">
        <canvas id="canvas" width="900" height="900"></canvas>
      </article>
    </section>
      <section id="board-section">
        <section id="player-score-container">
          <article id="player-score">
            <h1 id="player-name">ENTER YOUR NAME</h1>
            <input type="text" name="player-name" id="player-name-form">
            <input type="submit" value="ok man" id="player-name-button">
            <article id="current-score">
              <p><span id="life-count">3</span> LIVES</p>
              <p><span id="point-count">0</span> POINTS</p>
              </article>
            </article>
          </article>
        </section>
        <section id="score-container">
          <article id="score-board">
            <h1>SCORE BOARD</h1>
              <article class="score-board-list">
                <ul>
                  <li> <h2>Player</h2></li>
                  <li>Denise</li>
                  <li>Snozza</li>
                  <li>Pablo</li>
                  <li>Sandrine</li>
                </ul>
              </article>
              <article class="score-board-list" id="stars">
                <ul>
                  <li> <h2>Score</h2></li>
                  <li>★★★★★</li>
                  <li>★★★★★</li>
                  <li>★★★★★</li>
                  <li>★★★★★</li>
                </ul>
              </article>
          </article>
        </section>
      </section>
    </main>

  <script src="/js/jquery.js"></script>
  <script src="/js/interface.js"></script>
  </body>
</html>