<html>
  <head>
    
  </head>
  <body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <canvas width="500" height="500" style="border:solid 1px #000;" id="canvas"></canvas>
    <script>

    $(document).ready(function(){

      var canvas = $("#canvas")[0];
      var context = canvas.getContext("2d");
      var width = $("#canvas").width();
      var height = $("#canvas").height();
      
      var pacman;
      var sprite;
      var direction;    
      var score;
      
      function init()
      {
        direction = "right"; //default
        createPacman();
        createSprite();
        score = 0;
        
        if(typeof game_loop != "undefined") clearInterval(game_loop);
        game_loop = setInterval(render, 60);
      }
      init();
      
      function createPacman()
      {
        pacman = {
          x: 5,
          y: 20,
          radius: 10,
          clearance: 20,
          speed: 10,
          mouthOpenValue: 40,
          mouthPosition: -1
        }
      }
      
      //dots that pacman eats
      function createSprite()
      {
        sprite = {
          size: 20,
          x: Math.round(Math.random() * (width - 20) / 20), 
          y: Math.round(Math.random() * (height - 20) / 20),
        };
      }
      
      function render()
      {
      
        context.fillStyle = "white";
        context.fillRect(0, 0, width, height);
        
        //The movement code for pacman.
        
        if(direction == "right") pacman.x+= pacman.speed;
        else if(direction == "left") pacman.x-= pacman.speed;
        else if(direction == "up") pacman.y-= pacman.speed;
        else if(direction == "down") pacman.y+= pacman.speed;

        console.log(sprite.x * 20)
        console.log(pacman.x)

        if ((pacman.x - pacman.radius) <= (sprite.x * 20) && (sprite.x * 20) <= (pacman.x + pacman.radius)) {
          if((pacman.y - pacman.radius) <= (sprite.y * 20) && (sprite.y * 20) <= (pacman.y + pacman.radius)) {   
            score++;
            createSprite();
          }
        }
  

        paintPacman(pacman.x, pacman.y);
        paintSprite(sprite.x, sprite.y, sprite.size);
      }

  
      function paintPacman(x, y)
      {
        if (pacman.mouthOpenValue <= 0) {
          pacman.mouthPosition = 1;
        }
        else if (pacman.mouthOpenValue >= 40){
          pacman.mouthPosition = -1;
        }
        pacman.mouthOpenValue += (5 * pacman.mouthPosition);
        context.beginPath();
        if (direction === 'right') {
          context.arc(x, y, 20, 
            (Math.PI / 180) * pacman.mouthOpenValue, 
            (Math.PI / 180) * (360 - pacman.mouthOpenValue));
        }
        else if (direction === 'left'){
          context.arc(x, y, 20,
            (Math.PI / 180) * (179 - pacman.mouthOpenValue), //to stop flicker dont draw 180 to 180
            (Math.PI / 180) * (180 + pacman.mouthOpenValue), true); 
        }
        else if (direction === 'up'){
          context.arc(x, y, 20,
            (Math.PI / 180) * (179 - pacman.mouthOpenValue),
            (Math.PI / 180) * (180 + pacman.mouthOpenValue), true); 
        }
        else {
          context.arc(x, y, 20,
            (Math.PI / 180) * (179 - pacman.mouthOpenValue),
            (Math.PI / 180) * (180 + pacman.mouthOpenValue), true); 
        }


        context.lineTo(x, y);
        context.fillStyle = '#000';
        context.fill();
      }

      function paintSprite(x, y, size) {
        context.fillStyle = "blue";
        context.fillRect(x*size, y*size, size, size);
        context.strokeStyle = "white";
        context.strokeRect(x*size, y*size, size, size);
      }
      
      //keyboard controls
      $(document).keydown(function(event){
        var key = event.which;

        if(key == "37") direction = "left";
        else if(key == "38") direction = "up";
        else if(key == "39") direction = "right";
        else if(key == "40") direction = "down";
      })

    });

  
  
    </script>
  </body>
</html>